* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading,
.promo-lead,
.list-item,
.single-game-card button,
.main-img .img-text-absolute,
img,
li,
svg {
    cursor: pointer;
}


/** MAIN SECTION **/
.main-content-wrapper {
    background: url("/images/flyers-background.png");
    background-attachment: fixed;
}

.main-content {
    width: 100%;
    max-width: 1248px;
    margin: auto;
    background: #ECECEC;
    display: flex;
    flex-direction: row;
}

/** LEFT COLUMN **/
.left-col {
    display: flex;
    flex-direction: column;
    width: calc(16% - 10px);
    max-width: 186px;
    font-family: 'Sintony', sans-serif;
    font-size: 13px;
    margin-left: 10px;
    padding: 10px 0;
}

.flyers-daily,
.flyer-wire,
.follow-flyers {
    background: #FFF;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.main-list-item {
    padding: 15px;
    font-weight: 800;
    border-bottom: 1px solid lightgrey;
    padding: 15px;
}

.list-item {
    padding: 7px 0;
    padding: 10px 15px;
}

.list-item img {
    max-width: 25px;
    vertical-align: middle;
    margin-right: 5px;
}

.flyer-wire {
    margin: 10px 0;
}

.flyer-wire img {
    width: 100%;
    padding: 15px;
}

/** CENTER COLUMN **/
.center-col {
    display: flex;
    flex-direction: column;
    width: calc(60% - 20px);
    max-width: 718px;
    font-family: 'Sintony', sans-serif;
    font-size: 13px;
    margin-left: 20px;
    padding: 10px 0;
}

.lead-image-container,
.sub-lead-image-container,
.sub-lead-promo-links,
.training-camp-container,
.standings-container {
    padding: 15px;
    background: #FFF;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.lead-image img {
    width: 100%;
    border-radius: 15px;
}

.sub-lead-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.sub-lead-images img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.heading,
.sub-heading {
    display: block;
}

.heading {
    font-size: 14px;
    font-weight: 800;
    padding-bottom: 10px;
}

.sub-heading {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.sub-single-container {
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.text-container {
    padding: 10px 20px;
}

.sub-lead-promo-links {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.promo-link-1,
.promo-link-2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
}

.promo-link-1 img,
.promo-link-2 img {
    width: 100%;
}

.promo-lead,
.promo-sub-lead {
    display: block;
}

.promo-lead {
    font-weight: 800;
}

.main-img {
    position: relative;
}

.main-img::before {
    position: absolute;
    height: 50%;
    background-image: linear-gradient(rgba(0,0,0,0), #000000);
    align-self: flex-end;
    content: "";
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}


.main-img img {
    width: 100%;
    border-radius: 15px;
}

.main-img .img-text-absolute {
    position: absolute;
    bottom: 25px;
    left: 17px;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.main-img .img-text-absolute:hover {
    text-decoration: underline;
}

/** RIGHT COLUMN **/
.right-col {
    display: flex;
    flex-direction: column;
    width: calc(24% - 20px);
    max-width: 280px;
    font-family: 'Sintony', sans-serif;
    font-size: 13px;
    margin-left: 20px;
    padding: 10px 0;
}

.single-game-card {
    padding: 25px;
    background: #FFF;
}

.single-game-card img {
    width: 100%;
}

.single-game-card span {
    display: block;
    padding-top: 7px;
}

.single-game-card button {
    all: unset;
    width: 100%;
    text-align: center;
    background: #ED4934;
    color: white;
    padding: 10px 0;
    margin-top: 12px;
    cursor: pointer;
}

.latest-news-container {
    background: #FFF;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
    margin-top: 15px;
}

.nhl-shop-container,
.standings-container {
    margin-top: 15px;
}

.nhl-shop-container img {
    width: 100%;
}

.standings-row {
    padding: 12px 0;
}

.points-header {
    background: black;
    color: white;
    padding: 15px 0;
}

.logo,
.games,
.wins,
.losses,
.points {
    display: inline-block;
    text-align: center;
}

.logo img {
    width: 100%;
    vertical-align: middle;
    width: 45px;
    height: 30px;
    cursor: pointer;
}

.logo {
    width: 20%;
}

.games,
.wins,
.losses,
.points {
    width: 16%;
}


